<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>프로필 편집 - CineBook</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/settings.css">
</head>

<body>

<main class="settings-edit-page">

    <div class="edit-card">

        <h1>프로필 편집</h1>

        <form th:action="@{/user/settings/edit}"
		      method="post"
		      enctype="multipart/form-data"
		      th:object="${profileForm}">
            <input type="file"
			       id="profileImage"
			       name="profileImage"
			       accept="image/*"
			       hidden>
			
			<label for="profileImage" class="profile-preview-box">
			
			    <img id="preview"
			         th:class="${user.profileImage == null || user.profileImage == 'default-profile.png'}
			            ? 'default-profile'
			            : 'uploaded-profile'"
			         th:src="${user.profileImage == null || user.profileImage == 'default-profile.png'}
			            ? @{/images/default-profile.png}
			            : @{|/uploads/${user.profileImage}|}">
			
			</label>
			
			<div class="image-actions">
			    <button type="button"
			            id="removeImage"
			            class="reset-image-btn">
			        기본 이미지로 변경
			    </button>
			</div>

            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}">

            <div th:replace="~{form_errors :: formErrorsFragment}"></div>


            <div class="form-group">
                <label for="nickname">닉네임</label>

                <input type="text"
                       id="nickname"
                       th:field="*{nickname}"
                       class="text-input">
            </div>

            <div class="form-actions">
                <a href="/user/settings" class="btn-cancel">
                    취소
                </a>

                <button type="submit" class="btn-submit">
                    저장
                </button>
				
				<input type="hidden"
				       name="deleteImage"
				       id="deleteImage"
				       value="false">
            </div>

        </form>

    </div>

</main>
<script>
const imageInput = document.getElementById('profileImage');
const preview = document.getElementById('preview');

imageInput.addEventListener('change', function() {

    const file = this.files[0];

    if(!file) return;

    const reader = new FileReader();

    reader.onload = function(e){
        preview.src = e.target.result;

        preview.classList.remove("default-profile");
        preview.classList.add("uploaded-profile");
    }

    reader.readAsDataURL(file);
});
document.getElementById("removeImage")
.addEventListener("click", function(){

    preview.src = "/images/default-profile.png";

    preview.classList.remove("uploaded-profile");
    preview.classList.add("default-profile");

    document.getElementById("deleteImage").value = "true";

    imageInput.value = "";
});
</script>
</body>
</html>
