<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>내 서재</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<header th:replace="~{fragments/header :: header('book', ${type}, '')}"></header>

<main>

    <div class="title-area">
        <div class="title-left">
            <h1>내 서재</h1>
            <p th:text="'총 ' + ${paging.totalElements} + '개의 리뷰를 작성했습니다.'"></p>
        </div>

        <div class="title-right">
            <a href="/content/add?type=BOOK" class="top-btn dark-btn">
                책 추가 +
            </a>
        </div>
    </div>

    <section class="content">
        <a th:each="review : ${paging.content}"
           th:href="@{|/content/${review.content.id}|}"
           class="card-link">
            <div class="card">
                <img th:src="${review.content.imageUrl}" th:alt="${review.content.title}">
                <h3 th:text="${review.content.title}"></h3>
                <p class="review" th:text="${review.shortReview}"></p>
                <div class="info">
                    <div class="rating">
                        <span>
                            <i class="fa-solid fa-star"></i>
                            <span th:text="${review.rating}"></span>
                        </span>
                    </div>
                    <div class="date">
                        <span th:text="${#temporals.format(review.createdAt, 'yyyy.MM.dd.')}"></span>
                    </div>
                </div>
            </div>
        </a>
    </section>

    <div class="pagination" th:if="${paging.totalPages > 0}">
        <a th:each="pageNum : ${#numbers.sequence(0, paging.totalPages - 1)}"
           th:href="@{/my-library(page=${pageNum})}"
           th:text="${pageNum + 1}"
           th:class="'page' + (${pageNum} == ${paging.number} ? ' active' : '')">
        </a>
    </div>

</main>
</body>
</html>
